.Asset {
    min-height: 100px;
    font-weight: 600;
}

.Asset i {
    font-size: 4rem;
    color: #fafafa;
    background-color: rgb(163, 0, 0);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.Asset i:hover {
    background-color: rgb(214, 136, 136);
}