.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 10px;
    padding: 4px 10px;
    margin: 0 2px;
    min-width: 75px;
    border-color: transparent;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
  }

.Red {
    background-color: rgb(163, 0, 0) !important;
    color: #fafafa;
    border: transparent;
    opacity: 1 !important;
}

.Red:hover {
    background-color: rgb(214, 136, 136) !important;
    color: #fafafa;
}

.Light {
    background-color: rgb(115, 115, 115) !important;
}

.Light:hover,
.Light:hover:active,
.Light:focus {
    background-color: rgb(147, 147, 147) !important;
    color: #fafafa;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}
