.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 10px;
    padding: 4px 10px;
    margin: 0 2px;
    min-width: 75px;
    border-color: transparent;
  }

  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: rgb(163, 0, 0) !important;
  }
  
  .Button:active {
    background-color: rgb(163, 0, 0) !important;
  }
  
  .Button:focus {
    background-color: rgb(163, 0, 0);
  }

  .Red {
    background-color: rgb(163, 0, 0);
    color: #fafafa;
  }

  .Red:hover {
    background-color: rgb(214, 136, 136);
    color: #fafafa;
  }

  .Light {
    background-color: rgb(115, 115, 115);
  }

  .Light:hover {
    background-color: rgb(147, 147, 147);
    color: #fafafa;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
