.NavBar {
    background-color: #fafafa;
    color: #000;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 1px 3px rgb(100, 100, 100);
}

.Logo {
    font-family: 'Rock Salt', 'cursive', 'sans-serif';
    font-size: 1.7rem;
}

i {
    padding: 5px;
    vertical-align: middle;
}

.NavLink {
    padding: 7px;
}

.Active i {
    color: rgb(163, 0, 0);
}