.NavBar {
    background-color: #fafafa;
    color: #000;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 1px 3px rgb(100, 100, 100);
}

.Logo {
    font-family: 'Rock Salt', 'cursive', 'sans-serif';
    font-size: 1.2rem;
}

i {
    padding: 5px;
    vertical-align: middle;
}

.NavLink {
    padding: 6px;
}

i {
    color: rgb(152, 152, 152);
}

.Active i {
    color: rgb(163, 0, 0);
}

@media screen and (min-width: 768px) {
    .Logo {
        font-size: 1.5rem;
    }

    .NavLink i {
        font-size: 18px;
    }
}