.Upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.UploadIcon {
    font-size: 4rem;
    color: #fafafa;
    background-color: rgb(163, 0, 0);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.UploadIcon:hover {
    background-color: rgb(221, 111, 111);
}