.App {
    font-family: 'Source Code Pro', 'monospace', 'sans-serif';
    min-height: 100vh;
    background-color: rgb(170, 170, 170);
}

.Main {
    padding-top: 80px;
}

* {
    box-sizing: border-box;
}

a {
    color: rgb(0, 0, 0);
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: rgb(163, 0, 0);
    transition: color ease-in-out 0.3s;
}

i {
    font-size: 1.5rem;
}