.App {
    font-family: 'Source Code Pro', 'monospace', 'sans-serif';
    min-height: 100vh;
    background-color: rgb(183, 183, 183);
}

.Main {
    padding-top: 80px;
}

.Content {
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 1px 1px 6px 1px gray;
}

* {
    box-sizing: border-box;
}

a {
    color: rgb(0, 0, 0);
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: rgb(163, 0, 0);
    transition: color ease-in-out 0.3s;
}

i {
    font-size: 1.5rem;
}